In [1]:
import pandas as pd

pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', 500)

#### Read news data

In [2]:
news_path = 'https://storage.googleapis.com/msca-bdp-data-open/news/nlp_a_5_news.json'
news_df = pd.read_json(news_path, orient='records', lines=True)

print(f'Sample contains {news_df.shape[0]:,.0f} news articles')
news_df.head(10)

Sample contains 10,012 news articles

,url,date,language,title,text
0,http://kokomoperspective.com/obituaries/jon-w-horton/article_b6ba8e1e-cb9c-11eb-9868-fb11b88b9778.html,2021-06-13,en,Jon W. Horton | Obituaries | kokomoperspective.com,Jon W. Horton | Obituaries | kokomoperspective.comYou have permission to edit this article. EditCloseSign Up Log In Dashboard LogoutMy Account Dashboard Profile Saved items LogoutCOVID-19Click here for the latest local news on COVID-19HomeAbout UsContact UsNewsLocalOpinionPoliticsNationalStateAgricultureLifestylesEngagements/Anniversaries/WeddingsAutosEntertainmentHealthHomesOutdoorsSportsNFLNCAAVitalsObituariesAutomotivee-EditionCouponsGalleries74°...
1,https://auto.economictimes.indiatimes.com/news/auto-components/birla-precision-to-ramp-up-capacity-to-tap-emerging-opportunities-in-india/81254902,2021-02-28,en,"Birla Precision to ramp up capacity to tap emerging opportunities in India, Auto News, ET Auto","Birla Precision to ramp up capacity to tap emerging opportunities in India, Auto News, ET Auto We have updated our terms and conditions and privacy policy Click ""Continue"" to accept and continue with ET AutoAccept the updated privacy & cookie policyDear user, ET Auto privacy and cookie policy has been updated to align with the new data regulations in European Union. Please review and accept these changes below to continue using the website.You can see our privacy policy & our cookie ..."
2,https://ca.sports.yahoo.com/news/global-hydrogen-fueling-station-markets-104800330.html?src=rss,2021-12-07,en,Global Hydrogen Fueling Station Markets to 2035: Current State and Future Prognosis of Passenger Hydrogen Fuel Cell Vehicles (FCVs),Global Hydrogen Fueling Station Markets to 2035: Current State and Future Prognosis of Passenger Hydrogen Fuel Cell Vehicles (FCVs) HOME MAIL NEWS SPORTS FINANCE CELEBRITY STYLE MOVIES WEATHER MOBILE Yahoo Sports Sign in Mail Sign in to view your mail Sports Home Sports Home Fantasy Fantasy Fantasy FootballFantasy Football Fantasy HockeyFantasy Hockey Fantasy BasketballFantasy Basketball Fantasy Auto RacingFantasy Auto Racing Fantasy Go...
3,https://cardealermagazine.co.uk/publish/july-20-backlash-over-covid-passports-cummings-leaks-more-pm-texts-extreme-heat-warning-anniversary-mini-cooper-jcw-revealed/228570,2021-07-20,en,July 20: Backlash over Covid passports; Cummings leaks more PM texts; Extreme heat warning; Anniversary Mini Cooper JCW revealed – Car Dealer Magazine,July 20: Backlash over Covid passports; Cummings leaks more PM texts; Extreme heat warning; Anniversary Mini Cooper JCW revealed – Car Dealer Magazine Log inCar Dealer Magazine LogoThe logo for Car Dealer Magazine Log inLatestUsed CarsLiveForumJobsPowerUCA 2020UCA 2021KnowledgeSuppliers GuideLatest IssueTop 100Home > News Round-Up > July 20: Backlash over Covid passports; Cummings leaks more PM texts; Extreme heat warning; Anniversary Mini Cooper JCW revealedNews Round-UpJuly 20: Backlash ov...
4,https://fox5sandiego.com/news/local-news/nonprofit-threatens-lawsuit-over-whales-found-dead-at-naval-base-san-diego/,2021-05-17,en,Nonprofit threatens lawsuit over whales found dead at Naval Base San Diego | FOX 5 San Diego,Nonprofit threatens lawsuit over whales found dead at Naval Base San Diego | FOX 5 San DiegoSkip to contentFOX 5 San DiegoSan Diego65°Sponsored By Toggle MenuOpen NavigationClose NavigationSearchPrimary MenuVideoFOX 5 News LiveLive EventsFOX 5 News NowVideo CenterFOX 5 Program ScheduleNewsNews AppsEmail NewslettersNews tips and story ideasLocalCaliforniaNationalWorldCOVID-19HealthEarthquakesEntertainmentBusinessTechnologyMorning NewsAuto UpdateVideo Game & Pop Culture NewsPoliticsTrafficExp...
5,https://indianautosblog.com/2021-tata-safari-officially-teased-p322272,2021-01-10,en,"2021 Tata Safari Officially Teased Ahead Of Debut On January 26, 2021","2021 Tata Safari Officially Teased Ahead Of Debut On January 26, 2021 HOME CAR NEWS Alfa Romeo Audi Bentley BMW Bugatti Chevrolet Citroen Dacia Daihatsu Datsun DC Design Ferrari Fiat Ford Honda Hyundai Infiniti Isuzu Jaguar Jeep Kia Lada Lamborghini Land Rover Lexus Mahindra Maruti Suzuki Maserati Mazda McLaren Mercedes-Benz Mini Mitsubishi Nissan Opel Perodua Peugeot Porsche Proton Renault Rolls Royce Skoda Ssangyong Suzuki Tata Tesla Toyota Volkswag..."
6,https://kdvr.com/news/local/2021-sounds-exciting-summer-concert-series/,2021-04-27,en,Lakewood announces lineup for 2021 Sounds Exciting! Summer Concert Series,Lakewood announces lineup for 2021 Sounds Exciting! Summer Concert SeriesSkip to contentFOX31 DenverDenver69°Sponsored By Toggle MenuOpen NavigationClose NavigationSearchPrimary Menu🔴 Watch LiveAll Live StreamsWatch Latest VideosFOX31 & Channel 2 Live Stream Schedule🔴 FOX31 NOW🔴 FOX31 Live Stream🔴 Channel 2 Live Stream🔴 Live Cam: DIAVaccine FinderNewsLocal NewsGrocery Store TragedyNational/WorldCoronavirusTrafficProblem SolversData DeskPoliticsHealthMoneyTechServing Those Who ServeSupp...
7,https://pledgetimes.com/princesses-hostages-and-mystery-where-is-shamsa-the-other-daughter-of-the-emir-of-dubai-who-disappeared-20-years-ago/,2021-02-26,en,"Princesses, hostages and mystery: Where is Shamsa, the other daughter of the Emir of Dubai who disappeared 20 years ago? – Pledge Times","Princesses, hostages and mystery: Where is Shamsa, the other daughter of the Emir of Dubai who disappeared 20 years ago? – Pledge Times About UsT & CDisclaimer for Pledge TimesWrite To Us PledgeTimes HomeWorldLifestyleBusinessEntertainmentSportsNo Result View All Result HomeWorldLifestyleBusinessEntertainmentSportsNo Result View All Result PledgeTimes No Result View All Result HomeWorld Princesses, hostages and mystery: Where is Shamsa, the other daughter of the Emir of Du..."
8,https://www.atlanticfinancialmanagement.co.uk/pressroom/news/378191/consumer-autonomous-vehicles-apple-audi-baidu-bmw/,2021-02-23,en,"Consumer Autonomous Vehicles Apple, Audi, Baidu, BMW – Atlantic Financial Management","Consumer Autonomous Vehicles Apple, Audi, Baidu, BMW – Atlantic Financial ManagementSkip to contentTue. Feb 23rd, 2021 Atlantic Financial Management EnergyPressroomSpaceAll NewsContact News Consumer Autonomous Vehicles Apple, Audi, Baidu, BMW Bycontrivedatuminsights Feb 23, 2021Apple, Audi, Baidu, BMW, Bosch, Consumer Autonomous Vehicles Market, Consumer A..."
9,https://www.autocar.co.uk/car-review/porsche/911/first-drives/porsche-911-gts-2021-uk-review,2021-10-22,en,Porsche 911 GTS 2021 UK review | Autocar,Porsche 911 GTS 2021 UK review | Autocar Car ReviewsLatest car reviewsIn-depth road test reviewsFirst drive reviewsLong-term reviewsTop 10s: Best Cars on saleVideo reviewsCar NewsLatest newsAdviceOpinionsFeaturesUsed carsUsed car homeUsed car dealsNearly new buying guidesUsed car buying guidesElectricMotorsportBusinessOffersGap InsuranceWarrantyLeasingSell your carSubscribeSubscribe to magazineAutocar Newsletter…Car ReviewsLatest car reviewsIn-depth road test reviewsFirst drive reviewsLong-t...

#### Read Tweets data

In [3]:
tweets_path = 'https://storage.googleapis.com/msca-bdp-data-open/tweets/nlp_a_5_tweets.json'
tweets_df = pd.read_json(tweets_path, orient='records', lines=True)
print(f'Sample contains {tweets_df.shape[0]:,.0f} tweets')
tweets_df.head(2)

Sample contains 10,105 tweets

,id,lang,date,name,retweeted,text
0,1534565117614084096,en,2022-06-08,Low Orbit Tourist 🌍📷,,"Body &amp; Assembly - Halewood - United Kingdom\n🌍53.3504,-2.8352296,402m\n\nHalewood Body &amp; Assembly is a Jaguar Land Rover factory in Halewood, England, and forms the major part of the Halewood complex which is shared with Ford who manufacture transmissions at the site. [Wikipedia] https://t.co/LPmCnZIaVt"
1,1534565743429394439,en,2022-06-08,CompleteCar.ie,RT,"Land Rover Ireland has announced that the new Range Rover Sport starts at €114,150, now on @completecar:\n\nhttps://t.co/TjGUkL3FYr https://t.co/QdVaEiJkjO"

In [4]:
import nltk
def cleaner(x):
    stopwords = set(nltk.corpus.stopwords.words('english'))
    x = nltk.tokenize.word_tokenize(x)
    x = [nltk.WordNetLemmatizer().lemmatize(word) for word in x]
    x = [word for word in x if len(word) > 1 and word != '.']
    x = [word for word in x if word not in stopwords]
    return(x)

In [5]:
tweets_df

,id,lang,date,name,retweeted,text
0,1534565117614084096,en,2022-06-08,Low Orbit Tourist 🌍📷,,"Body &amp; Assembly - Halewood - United Kingdom\n🌍53.3504,-2.8352296,402m\n\nHalewood Body &amp; Assembly is a Jaguar Land Rover factory in Halewood, England, and forms the major part of the Halewood complex which is shared with Ford who manufacture transmissions at the site. [Wikipedia] https://t.co/LPmCnZIaVt"
1,1534565743429394439,en,2022-06-08,CompleteCar.ie,RT,"Land Rover Ireland has announced that the new Range Rover Sport starts at €114,150, now on @completecar:\n\nhttps://t.co/TjGUkL3FYr https://t.co/QdVaEiJkjO"
2,1529341557580652545,en,2022-05-25,Exmoor Trim,,New Land Rover Range Rover Hits Top Speed With Ease On Autobahn\n\nhttps://t.co/19QOgAIu3v
3,1542790343535755264,en,2022-07-01,Land Rover UK,,"@BeckyWatts1 Hi, thank you for your post. I am sorry to learn of your retailer experience, however when order slots are available they will be presented to the retailer, and it is at their discretion which vehicles they submit. Please continue to liaise with them. Thanks, Dan - Land Rover UK"
4,1516732103370493954,en,2022-04-20,Sussexes❤️👑🐼🌸,,@cofvefe917 @Mackingday No this was during the Land Rover driving challenge.
...,...,...,...,...,...,...
10100,1523410294554652672,en,2022-05-08,NOT A BOT,RT,The Land Rover Driving Challenge is a test of skill and precision and it certainly delivered some great moments at #IG22 💛🖤 https://t.co/p79BOnWMU3
10101,1508913706100527112,en,2022-03-29,Flossy,RT,I hope they aren’t going to leave the service standing in a Land Rover. #PrincePhilip #idiocracy
10102,1513043619308969984,en,2022-04-10,Racks Car and Truck,,OEM 1999 Land Rover Discovery 1 Roof Rack 2 Rails &amp; 3 Cross Support Bars (95-99) https://t.co/SE6DuEqtYi eBay
10103,1503204155694862339,en,2022-03-14,Racks Car and Truck,,For Land Rover Discovery 2005-2016 LR3 LR4 Roof Racks Top Baggage Cross Bar https://t.co/bpKBijALbU eBay https://t.co/22b4EiJLqv
10104,1521363091224674304,en,2022-05-03,Tino\Taff,RT,Land Rover Defender delivers a unique combination of performance and capability. Design yours with our online configurator.

In [6]:
import nltk 
nltk.download('words')
words = set(nltk.corpus.words.words())

[nltk_data] Downloading package words to
[nltk_data]     /Users/ashmitamukherjee/nltk_data...
[nltk_data]   Package words is already up-to-date!

In [7]:

from pandarallel import pandarallel

In [8]:
import multiprocessing
from langdetect import detect, DetectorFactory, detect_langs
DetectorFactory.seed = 0
num_processors = multiprocessing.cpu_count()
print(f'Available CPUs: {num_processors}')
pandarallel.initialize(nb_workers=num_processors-1, use_memory_fs=False,progress_bar = True)

Available CPUs: 8
INFO: Pandarallel will run on 7 workers.
INFO: Pandarallel will use standard multiprocessing data transfer (pipe) to transfer data between the main process and workers.

In [9]:
news_df = news_df[news_df['title'].parallel_apply(lambda x: detect(x) == 'en')]

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=1431), Label(value='0 / 1431'))), …

In [10]:
news_df = news_df[news_df['text'].parallel_apply(lambda x: detect(x) == 'en')]

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=1406), Label(value='0 / 1406'))), …

In [11]:
tweets_df=tweets_df[tweets_df['text'].parallel_apply(lambda x: detect(x) == 'en')]

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=1444), Label(value='0 / 1444'))), …

In [12]:
news_df['text_cl']= news_df['text'].parallel_apply(lambda x: ' '.join(cleaner(x)) )

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=1406), Label(value='0 / 1406'))), …

In [13]:
news_df['title_cl']= news_df['title'].parallel_apply(lambda x: ' '.join(cleaner(x)) )

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=1406), Label(value='0 / 1406'))), …

In [15]:
import re
tweets_df['text_cl'] = tweets_df['text'].parallel_apply(lambda x: re.sub(r'https[\w+\_\.\~\:\/\?#\[\]\@\!\$\&\'\(\)\*\+\,\;\=\\]+','',x))
tweets_df['text_cl'] = tweets_df['text'].parallel_apply(lambda x: re.sub(r'\@\w+','',x))
tweets_df['text_cl'] = tweets_df['text'].parallel_apply(lambda x: re.sub(r'\&\w+;','',x))

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=1357), Label(value='0 / 1357'))), …

/var/folders/5n/cfjhtvt930z8_vr1xpfjj9vh0000gn/T/ipykernel_1015/4539024.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_df['text_cl'] = tweets_df['text'].parallel_apply(lambda x: re.sub(r'https[\w+\_\.\~\:\/\?#\[\]\@\!\$\&\'\(\)\*\+\,\;\=\\]+','',x))

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=1357), Label(value='0 / 1357'))), …

/var/folders/5n/cfjhtvt930z8_vr1xpfjj9vh0000gn/T/ipykernel_1015/4539024.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_df['text_cl'] = tweets_df['text'].parallel_apply(lambda x: re.sub(r'\@\w+','',x))

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=1357), Label(value='0 / 1357'))), …

/var/folders/5n/cfjhtvt930z8_vr1xpfjj9vh0000gn/T/ipykernel_1015/4539024.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_df['text_cl'] = tweets_df['text'].parallel_apply(lambda x: re.sub(r'\&\w+;','',x))

# SPACY without Sentence Segmentation

In [17]:
import pandas as pd
import spacy 
from spacy import displacy

In [18]:
nlp = spacy.load("en_core_web_md")
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [20]:
def xtestk(text):
    doc = nlp(text)

    entities = []
    labels = []

    for ent in doc.ents:
        entities.append(ent.text)
        labels.append(ent.label_)
    
    df = pd.DataFrame({'Entities':entities,'Labels':labels})
    return df

In [23]:
spacyNText = pd.DataFrame()
spacyNTitle = pd.DataFrame()
spacyTweets = pd.DataFrame()

In [28]:
spacyNText[['entities','labels']] = pd.concat(list(news_df["text_cl"].parallel_apply(lambda x: xtestk(x)))).reset_index(drop= True)
spacyNTitle[['entities','labels']] = pd.concat(list(news_df["title_cl"].parallel_apply(lambda x: xtestk(x)))).reset_index(drop= True)

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=1406), Label(value='0 / 1406'))), …

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=1406), Label(value='0 / 1406'))), …

In [24]:
spacyTweets[['entities','labels']] = pd.concat(list(tweets_df["text_cl"].parallel_apply(lambda x: xtestk(x)))).reset_index(drop= True)

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=1357), Label(value='0 / 1357'))), …

In [52]:
title=spacyNTitle[spacyNTitle['labels']=='ORG'].value_counts().head(20)
text = spacyNText[spacyNText['labels']=='ORG'].value_counts().head(20)
texttw = spacyTweets[spacyTweets['labels']=='ORG'].value_counts().head(20)

In [56]:
print(title,'\n')
print(text ,'\n')
print(texttw)

entities                       labels
Daily Mail                     ORG       1132
Ford                           ORG        360
Toyota                         ORG        202
Chevrolet                      ORG        197
Hyundai                        ORG        180
Honda                          ORG        149
Daily Mail Online              ORG        141
Star News                      ORG        130
Nissan                         ORG        105
Automotive News                ORG         98
EV                             ORG         97
BMW                            ORG         80
Car Dealer Magazine            ORG         78
Dodge                          ORG         76
Otago Daily Times Online News  ORG         72
Jeep                           ORG         63
Volkswagen                     ORG         57
CoventryLive                   ORG         52
Lexus                          ORG         51
Jaguar                         ORG         50
dtype: int64

entities           labels
Ford               ORG       7497
wa                 ORG       5967
Toyota             ORG       5821
Netflix            ORG       5694
Hyundai            ORG       4332
quality=85         ORG       3928
EV                 ORG       3856
Honda              ORG       3789
Amazon             ORG       3698
BMW                ORG       3307
Facebook           ORG       3147
Chevrolet          ORG       2854
Facebook Timeline  ORG       2690
Nissan             ORG       2658
Royal              ORG       2587
House              ORG       2492
Land Rover         ORG       2400
BBC                ORG       2400
Tesla              ORG       2163
White House        ORG       2081
dtype: int64

entities                              labels
Land Rover                            ORG       1347
Jaguar Land Rover                     ORG        897
eBay                                  ORG        357
Mercedes-Benz Citroen General Motors  ORG        284
Land Rover Defender                   ORG        264
NigelAndArron http //t.co             ORG        190
Ford                                  ORG        114
Jaguar                                ORG         91
Land Rover Range                      ORG         72
BMW                                   ORG         69
SHAMELESS Health Services Board       ORG         64
Toyota                                ORG         63
EBL                                   ORG         62
Hills Vets                            ORG         62
LandRover                             ORG         59
Tata Motors                           ORG         59
SHAMELESS                             ORG         57
Tata                                  ORG         55
BaT Auctions                          ORG         51
Tesla Bentley Jaguar Jeep Land Rover  ORG         51
dtype: int64

In [119]:
entity_label_df1 = pd.DataFrame()
for entities, labels in zip(ash1['Entities'], ash1['Labels']):
    entity_label_df1 = pd.concat([entity_label_df1, pd.DataFrame({'Entity': entities, 'Label': labels})])

# Reset index
entity_label_df1 = entity_label_df1.reset_index(drop=True)

In [120]:
entity_label_df1

                                                             Entity     Label
0                              Assembly - Halewood - United Kingdom       ORG
1                                           53.3504,-2.8352296,402m  QUANTITY
2                                                Halewood Body &amp       ORG
3                                                          Assembly       ORG
4                                                 Jaguar Land Rover       ORG
...                                                             ...       ...
38932                                Land Rover Discovery 2005-2016   PRODUCT
38933  LR4 Roof Racks Top Baggage Cross Bar https://t.co/bpKBijALbU       ORG
38934                                                          eBay       ORG
38935                                       https://t.co/22b4EiJLqv   PRODUCT
38936                                           Land Rover Defender       ORG

[38937 rows x 2 columns]

In [395]:
plm= entity_label_df1[entity_label_df1['Label']=='ORG']

In [397]:
plm = plm.value_counts().head(20).reset_index()

Entity                   Label
Land Rover               ORG      2094
Jaguar Land Rover        ORG      1150
BMW                      ORG       381
Land Rover Defender      ORG       324
Mercedes-Benz            ORG       311
Citroen                  ORG       292
General Motors           ORG       291
eBay                     ORG       283
Jaguar                   ORG       195
Ford                     ORG       128
Volvo                    ORG       105
Audi                     ORG        96
Tesla                    ORG        94
SHAMELESS                ORG        93
Bentley                  ORG        89
Jeep                     ORG        84
TEKNOOFFICIAL            ORG        77
Land Rover Range         ORG        74
Toyota                   ORG        72
the Land Rover Defender  ORG        70
dtype: int64

# NLTK without Sentence Segmentation

In [262]:
def nltkNer(text):
    entities = []
    labels = []
    for chunk in nltk.ne_chunk(nltk.pos_tag(nltk.word_tokenize(text)), binary = False):
        if hasattr(chunk, 'label'):
            entities.append(' '.join(c[0] for c in chunk)) #Add space as between multi-token entities
            labels.append(chunk.label())

    #entities_labels = list(zip(entities, labels))
    entities_labels = list(set(zip(entities, labels)))
    entities_df = pd.DataFrame(entities_labels)
    return entities_df

In [263]:
nltkNer(news_df['title'].iloc[1])

           0             1
0  Auto News        PERSON
1      Birla        PERSON
2      India           GPE
3    ET Auto  ORGANIZATION

In [212]:
nltkNewsText = pd.DataFrame()
nltkNewsTitle = pd.DataFrame()
nltkTweets = pd.DataFrame()

In [293]:
nltkNewsText[['Entities','Labels']] = pd.concat(list(news_df["text"].parallel_apply(lambda x: nltkNer(x)))).reset_index(drop= True)

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=1406), Label(value='0 / 1406'))), …

In [294]:
nltkNewsText

                         Entities        Labels
0                            Peru           GPE
1                systemHarrisburg  ORGANIZATION
2                            Army  ORGANIZATION
3                          Hardie        PERSON
4                    Elden Stoops        PERSON
...                           ...           ...
10007                    GreeceOK  ORGANIZATION
10008                Kerry Katona        PERSON
10009  Reach Magazines Publishing  ORGANIZATION
10010                 First Sight  ORGANIZATION
10011                   GermanyOK  ORGANIZATION

[9836 rows x 2 columns]

In [277]:
nltkNewsTitle[['entities','labels']] = pd.concat(list(news_df["title"].parallel_apply(lambda x: nltkNer(x)))).reset_index(drop= True)

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=1406), Label(value='0 / 1406'))), …

In [285]:
nltkNewsTitle

                entities        labels
0                    Jon        PERSON
1                 Horton        PERSON
2              Auto News        PERSON
3                  Birla        PERSON
4                  India           GPE
...                  ...           ...
28818               Land  ORGANIZATION
28819             Jaguar        PERSON
28820  Stacy Ann Cassata        PERSON
28821               Easy  ORGANIZATION
28822              Money        PERSON

[28823 rows x 2 columns]

In [247]:
nltkNewsTitledf[nltkNewsTitledf['Label']=='ORG'].value_counts().head(20)

Entity                          Label
| Daily Mail                    ORG      941
Ontario |                       ORG      862
Ford                            ORG      361
Ontario | Carpages.ca           ORG      262
Toyota                          ORG      200
Chevrolet                       ORG      197
British Columbia |              ORG      189
Hyundai                         ORG      182
Honda                           ORG      155
Manitoba | Carpages.ca          ORG      138
| Star News                     ORG      131
Alberta | Carpages.ca           ORG      113
Nissan                          ORG      104
EV                              ORG      101
BMW                             ORG       92
Car Dealer Magazine             ORG       92
| Express & Star                ORG       90
Dodge                           ORG       77
Auto News                       ORG       71
Jeep                            ORG       70
dtype: int64

In [228]:
nltkTweets[['Entities', 'Labels']] = tweets_df["text_cl"].parallel_apply(lambda x: pd.Series(xtestk(x)))

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=1444), Label(value='0 / 1444'))), …

In [229]:
nltkTweetsdf = pd.DataFrame()
for entities, labels in zip(nltkTweets['Entities'], nltkTweets['Labels']):
    nltkTweetsdf = pd.concat([nltkTweetsdf, pd.DataFrame({'Entity': entities, 'Label': labels})])

# Reset index
nltkTweetsdf = nltkTweetsdf.reset_index(drop=True)

In [236]:
nltkTweetsdf[nltkTweetsdf['Label']=='ORG'].value_counts().head(20)

Entity                                Label
Land Rover                            ORG      1365
Jaguar Land Rover                     ORG       900
eBay                                  ORG       456
Land Rover Defender                   ORG       325
Mercedes-Benz Citroen General Motors  ORG       284
NigelAndArron http //t.co             ORG       190
Ford                                  ORG       114
Jaguar                                ORG        91
Land Rover Range                      ORG        86
BMW                                   ORG        69
SHAMELESS Health Services Board       ORG        64
Toyota                                ORG        63
EBL                                   ORG        62
Hills Vets                            ORG        62
LandRover                             ORG        61
Tata Motors                           ORG        59
SHAMELESS                             ORG        57
Tata                                  ORG        56
Land Rover Range Rover                ORG        54
BaT Auctions                          ORG        51
dtype: int64

# NLTK with Sentence Segmentation

In [295]:
def nltkNerS(text):
    entities = []
    labels = []

    for sent in nltk.sent_tokenize(text):
        for chunk in nltk.ne_chunk(nltk.pos_tag(nltk.word_tokenize(sent)), binary = False):
            if hasattr(chunk, 'label'):
                entities.append(' '.join(c[0] for c in chunk)) #Add space as between multi-token entities
                labels.append(chunk.label())

    #entities_labels = list(zip(entities, labels))
    entities_labels = list(set(zip(entities, labels)))
    entities_df = pd.DataFrame(entities_labels)
    return entities_df

In [296]:
nltkNewsTextS = pd.DataFrame()
nltkNewsTitleS = pd.DataFrame()
nltkTweetsS = pd.DataFrame()

In [297]:
nltkNewsTitleS[['entities','labels']] = pd.concat(list(news_df["title"].parallel_apply(lambda x: nltkNerS(x)))).reset_index(drop= True)
nltkNewsTextS[['entities','labels']] = pd.concat(list(news_df["text"].parallel_apply(lambda x: nltkNerS(x)))).reset_index(drop= True)
nltkTweetsS[['entities','labels']] = pd.concat(list(tweets_df["text"].parallel_apply(lambda x: nltkNerS(x)))).reset_index(drop= True)

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=1406), Label(value='0 / 1406'))), …

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=1406), Label(value='0 / 1406'))), …

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=1444), Label(value='0 / 1444'))), …

# spacy sentence

In [19]:
nlp.enable_pipe('senter')

In [20]:
nlp.pipe_names

['tok2vec',
 'tagger',
 'parser',
 'senter',
 'attribute_ruler',
 'lemmatizer',
 'ner']

In [ ]:
import nltk
def cleaner(x):
    stopwords = set(nltk.corpus.stopwords.words('english'))
    x = nltk.tokenize.word_tokenize(x)
    x = [nltk.WordNetLemmatizer().lemmatize(word) for word in x]
    x = [word for word in x if len(word) > 1]
    x = [word for word in x if word not in stopwords]
    return(x)

In [58]:
news_df['text_cls']= news_df['text'].parallel_apply(lambda x: ' '.join(cleaner(x)) )
tweets_df['text_cls']= tweets_df['text'].parallel_apply(lambda x: ' '.join(cleaner(x)) )
news_df['title_cls']=news_df['title'].parallel_apply(lambda x: ' '.join(cleaner(x)) )

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=1406), Label(value='0 / 1406'))), …

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=1357), Label(value='0 / 1357'))), …

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=1406), Label(value='0 / 1406'))), …

# SpaCy with Sentence Segmentation

In [59]:
def sentsp(text):
    doc = nlp(text)

    entities = []
    labels = []

    for ent in doc.ents:
        entities.append(ent.text)
        labels.append(ent.label_)
    
    df = pd.DataFrame({'Entities':entities,'Labels':labels})
    return df

In [60]:
nltkNewsTextSs = pd.DataFrame()
nltkNewsTitleSs = pd.DataFrame()
nltkTweetsSs = pd.DataFrame()

In [61]:
nltkNewsTitleSs[['entities','labels']] = pd.concat(list(news_df["title_cls"].parallel_apply(lambda x: sentsp(x)))).reset_index(drop= True)
nltkNewsTextSs[['entities','labels']] = pd.concat(list(news_df["text_cls"].parallel_apply(lambda x: sentsp(x)))).reset_index(drop= True)

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=1406), Label(value='0 / 1406'))), …

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=1406), Label(value='0 / 1406'))), …

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=1357), Label(value='0 / 1357'))), …

In [82]:
nltkTweetsSs[['entities','labels']] = pd.concat(list(tweets_df["text_cl"].parallel_apply(lambda x: sentsp(x)))).reset_index(drop= True)

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=1357), Label(value='0 / 1357'))), …

In [83]:
df1 = nltkNewsTextSs[nltkNewsTextSs['labels']=='ORG'].value_counts().head(20).reset_index()
df2 = nltkNewsTitleSs[nltkNewsTitleSs['labels']=='ORG'].value_counts().head(20).reset_index()
df3 = nltkTweetsSs[nltkTweetsSs['labels']=='ORG'].value_counts().head(20).reset_index()

In [84]:
df1.columns = ['Entity Title News', 'Label Title News', 'Count Title News']
df2.columns = ['Entity Text News', 'Label Text News ', 'Count Text News']
df3.columns = ['Entity Title Tweets', 'Label Title Tweets ', 'Count Title Tweets']
final = pd.concat([df1,df2,df3],axis=1)

In [85]:
final

,Entity Title News,Label Title News,Count Title News,Entity Text News,Label Text News,Count Text News,Entity Title Tweets,Label Title Tweets,Count Title Tweets
0,Ford,ORG,7497,Daily Mail,ORG,1132,Land Rover,ORG,1809
1,wa,ORG,5967,Ford,ORG,360,Jaguar Land Rover,ORG,945
2,Toyota,ORG,5821,Toyota,ORG,202,BMW,ORG,301
3,Netflix,ORG,5694,Chevrolet,ORG,197,Land Rover Defender,ORG,284
4,Hyundai,ORG,4332,Hyundai,ORG,180,eBay,ORG,258
5,quality=85,ORG,3928,Honda,ORG,149,Mercedes-Benz,ORG,227
6,EV,ORG,3856,Daily Mail Online,ORG,141,General Motors,ORG,217
7,Honda,ORG,3789,Star News,ORG,130,Citroen,ORG,210
8,Amazon,ORG,3698,Nissan,ORG,105,Jaguar,ORG,186
9,BMW,ORG,3307,Automotive News,ORG,98,Ford,ORG,109
10,Facebook,ORG,3147,EV,ORG,97,Volvo,ORG,97
11,Chevrolet,ORG,2854,BMW,ORG,80,Audi,ORG,87
12,Facebook Timeline,ORG,2690,Car Dealer Magazine,ORG,78,SHAMELESS,ORG,84
13,Nissan,ORG,2658,Dodge,ORG,76,Tesla,ORG,79
14,Royal,ORG,2587,Otago Daily Times Online News,ORG,72,Bentley,ORG,77
15,House,ORG,2492,Jeep,ORG,63,Jeep,ORG,72
16,Land Rover,ORG,2400,Volkswagen,ORG,57,Land Rover Range,ORG,72
17,BBC,ORG,2400,CoventryLive,ORG,52,TEKNOOFFICIAL,ORG,66
18,Tesla,ORG,2163,Lexus,ORG,51,Toyota,ORG,65
19,White House,ORG,2081,Jaguar,ORG,50,the Land Rover Defender,ORG,59

In [93]:
df4 = nltkNewsTextSs[nltkNewsTextSs['labels']=='GPE'].value_counts().head(20).reset_index()
df5 = nltkNewsTitleSs[nltkNewsTitleSs['labels']=='GPE'].value_counts().head(20).reset_index()
df6 = nltkTweetsSs[nltkTweetsSs['labels']=='GPE'].value_counts().head(20).reset_index()
df4.columns = ['Entity Title News loc', 'Label Title News loc', 'Count Title News loc']
df5.columns = ['Entity Text News loc', 'Label Text News loc ', 'Count Text News loc']
df6.columns = ['Entity Title Tweets loc', 'Label Title Tweets loc ', 'Count Title Tweets loc']
final = pd.concat([df4,df5,df6],axis=1)
final

,Entity Title News loc,Label Title News loc,Count Title News loc,Entity Text News loc,Label Text News loc,Count Text News loc,Entity Title Tweets loc,Label Title Tweets loc,Count Title Tweets loc
0,LA,GPE,15702,Manitoba,GPE,180,Russia,GPE,472
1,UK,GPE,10335,UK,GPE,171,UK,GPE,346
2,US,GPE,10187,India,GPE,89,India,GPE,87
3,London,GPE,8099,US,GPE,78,Zimbabwe,GPE,87
4,NYC,GPE,7871,Cambridge,GPE,68,Britain,GPE,60
5,Los Angeles,GPE,7446,U.S.,GPE,59,Jamaica,GPE,49
6,New York City,GPE,6852,North York,GPE,59,💸,GPE,46
7,Hollywood,GPE,5980,London,GPE,56,Cambridge,GPE,45
8,Australia,GPE,5013,China,GPE,56,London,GPE,42
9,Miami,GPE,4912,Taiwan,GPE,54,Netherlands,GPE,38
10,California,GPE,4347,Toronto,GPE,53,China,GPE,36
11,Paris,GPE,4131,Australia,GPE,43,US,GPE,31
12,India,GPE,3912,Oakville,GPE,40,TeamWang,GPE,29
13,Britain,GPE,3800,Calgary,GPE,40,Zuiderpark Hague,GPE,27
14,New York,GPE,3771,Russia,GPE,38,New Zealand,GPE,25
15,China,GPE,3667,Britain,GPE,38,Hollywood,GPE,24
16,Sydney,GPE,3576,Ukraine,GPE,34,France,GPE,23
17,Beverly Hills,GPE,3550,Explica,GPE,29,South Africa,GPE,22
18,U.S.,GPE,3235,Sale Winnipeg,GPE,26,Kenya,GPE,21
19,Texas,GPE,2998,Edmonton,GPE,23,Somerset,GPE,20

### After trying out all the methods, SpaCy with Sentence Segmentation provided the best results. I have provided the tables for top 20 News Articles Text, Titles and Tweet Text commonly used words of ORG and GPE using that method.

### The most frequently used company turned out to be 'Ford'! I did an analysis of most frequently used ORG with Ford.

#### News Text

In [58]:
def extract_companies(text):
    companies = []
    doc = nlp(text)
    for ent in doc.ents:
        if ent.label_ == "ORG":
            companies.append(ent.text)
    return companies

def process_row(row, primary_company):
    if primary_company.lower() in row['text_cl'].lower():
        companies = extract_companies(row['text_cl'])
        companies = [company for company in companies if company.lower() != primary_company.lower()]
        return companies
    return []

def find_companies_within_document(df, primary_company):
    results = df.parallel_apply(process_row, axis=1, args=(primary_company,))
    companies_within_document = [company for sublist in results.dropna() for company in sublist]
    return Counter(companies_within_document)

primary_company = "Ford"
companies_within_document_freq = find_companies_within_document(news_df, primary_company)
top_companies_within_document = companies_within_document_freq.most_common(10)

print("\nCompanies mentioned most frequently within the same document as 'Ford':")
for company, count in top_companies_within_document:
    print(f"{company}: {count} mentions within the same document")

INFO: Pandarallel will run on 8 workers.
INFO: Pandarallel will use standard multiprocessing data transfer (pipe) to transfer data between the main process and workers.

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=1230), Label(value='0 / 1230'))), …

Companies mentioned most frequently within the same document as 'Ford':
Netflix: 5403 mentions within the same document
Toyota: 5158 mentions within the same document
wa: 4781 mentions within the same document
Hyundai: 3980 mentions within the same document
quality=85: 3928 mentions within the same document
Honda: 3590 mentions within the same document
Amazon: 3361 mentions within the same document
EV: 3179 mentions within the same document
Facebook: 2982 mentions within the same document
BMW: 2836 mentions within the same document

#### News Title

In [45]:

def extract_companies(text):
    companies = []
    doc = nlp(text)
    for ent in doc.ents:
        if ent.label_ == "ORG":
            companies.append(ent.text)
    return companies

def find_companies_within_document(df, primary_company):
    companies_within_document = []
    for index, row in df.iterrows():
        if primary_company.lower() in row['title_cl'].lower():
            companies = extract_companies(row['title_cl'])
            companies = [company for company in companies if company.lower() != primary_company.lower()]
            companies_within_document.extend(companies)
    return Counter(companies_within_document)

primary_company = "Ford"

companies_within_document_freq = find_companies_within_document(news_df, primary_company)

top_companies_within_document = companies_within_document_freq.most_common(10)

print("\nCompanies mentioned most frequently within the same document as 'Ford':")
for company, count in top_companies_within_document:
    print(f"{company}: {count}")

Companies mentioned most frequently within the same document as 'Ford':
Hyundai: 10
John British Columbia: 6
Automotive News: 6
Chevrolet: 6
Toyota: 5
Oxford: 5
EV: 5
Daily Mail: 5
Ford F-150: 4
AutoSpies Auto News: 4

#### Tweet Text

In [48]:
def extract_companies(text):
    companies = []
    doc = nlp(text)
    for ent in doc.ents:
        if ent.label_ == "ORG":
            companies.append(ent.text)
    return companies

def find_companies_within_document(df, primary_company):
    companies_within_document = []
    for index, row in df.iterrows():
        if primary_company.lower() in row['text_cl'].lower():
            companies = extract_companies(row['text_cl'])
            companies = [company for company in companies if company.lower() != primary_company.lower()]
            companies_within_document.extend(companies)
    return Counter(companies_within_document)
primary_company = "Ford"

companies_within_document_freq = find_companies_within_document(tweets_df, primary_company)

top_companies_within_document = companies_within_document_freq.most_common(10)

print("\nCompanies mentioned most frequently within the same document as 'Ford':")
for company, count in top_companies_within_document:
    print(f"{company}: {count}")

Companies mentioned most frequently within the same document as 'Ford':
Land Rover: 59
Jaguar Land Rover: 36
Honda: 30
Chevrolet: 29
Toyota: 26
Dodge: 23
Infiniti: 22
Tata Motors: 21
Jaguar: 20
BMW Benz Lexus: 17